@page "/Checkout"
@inherits CheckoutBase

<div class="row">
    <div class="col-md-6">
        <h4 class="mb-2"> Payment method</h4>
    </div>
    @if(ShoppingCartItems == null)
    {
        <DisplaySpinner/>
    }
    else
    {
        <div class="col-md-6">
            <h4 class="mb-2">Payment Summary</h4>
            @if(ShoppingCartItems.Count() > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ShoppingCartItems)
                        {
                            <tr>
                                <td>@item.Qty x @item.ProductName</td>
                                <td>@item.TotalPrice.ToString("c")</td>
                            </tr>
                        }
                        <tr>
                            <td><b>Total</b></td>
                            <td><b>@PaymentAmount.ToString("C")</b></td>
                        </tr>

                    </tbody>

                </table>
            }
            else
            {
                <p>You currently have no items in your shopping cart</p>
            }
        </div>
    }
</div>

    